<h1>Listing vaccinations</h1>

<div data-role="navbar" data-bar-theme="c">
  <ul>
    <li><%= link_to 'New...', new_vaccination_path, :data=>{:icon=>"plus"} %></li>
  </ul>
</div>

<ul data-role="listview" data-divider-them="b" data-inset="true">
  <% @vaccinations.each do |vaccination| %>
    <li><%= link_to vaccination.title, vaccination %></li>
  <% end %>
</ul>