<div data-role="navbar" data-bar-theme="c">
  <ul>
    <li><%= link_to 'New...', new_doctor_visit_path %></li>
  </ul>
</div>

<ul data-role="listview" data-divider-them="b" data-inset="true">
  <% @doctor_visits.each do |doctor_visit| %>
    <li><%= link_to doctor_visit.comment, doctor_visit %></li>
  <% end %>
</ul>