<ul data-role="listview" data-divider-them="b" data-inset="false">
	<li><a href="/events" data-ajax="false" data-theme="c">Events</a>
	<li><a href="/contacts" data-ajax="false" data-theme="c">Contacts</a>
	<li><a href="/feedings" data-ajax="false" data-theme="c">Feedings</a>
	<li><a href="/vaccinations" data-ajax="false" data-theme="c">Vaccinations</a>
	<li><a href="/doctor_visits" data-ajax="false" data-theme="c">Doctor Visits</a>
</ul>