<h1>Listing Events</h1>
<div data-role="navbar" data-bar-theme="c">
	<ul>
		<li><%= link_to 'New...', new_event_path, :data=>{:icon=>"plus", :iconpos=>"left"} %></li>
	</ul>
</div>

<ul data-role="listview" data-divider-them="b" data-inset="true">
  <% @events.each do |event| %>
    <li>
    	<%= link_to event.event_date.strftime("%m-%d-%Y") + " " + event.name, event %>
    </li>
  <% end %>
</ul>

