<h1>Listing contacts</h1>
<div data-role="navbar" data-bar-theme="c">
    <ul>
        <li><%= link_to 'New...', new_contact_path, :data=>{:icon=>"plus", :iconpos=>"left"} %></li>
    </ul>
</div>

<ul data-role="listview" data-divider-them="b" data-inset="true">
  <% @contacts.each do |contact| %>
    <li><%= link_to contact.firstname + " " + contact.lastname, contact %></li>
  <% end %>
</ul>